
.table-bordered{
    border-color: black;
}

input {
    font-style: none;
    text-align: center;
    color: black;
}

::placeholder{
    color: black;
}

#tamañotablas th{
    width: 80px;
    overflow: auto;
  }